.itsregister{
     background: linear-gradient(90deg, #ff0066, #8000ff);
     color: aliceblue;
     padding: 7px;
     border-radius: 5px;
}

.itsemployer{
     background: linear-gradient(90deg, #ff0066, #8000ff);
     color: aliceblue;
     padding: 7px;
     border-radius: 5px;
}